[submodule "paper"]
	path = paper
	url = https://git@git.overleaf.com/68cdc03e4aed2493414b2e16
[submodule "rebuttal_neurips_2026"]
	path = rebuttal_neurips_2026
	url = https://github.com/dani2442/rebuttal_neurips_2026
